USE [master]
GO
/****** Object:  Database [Project]    Script Date: 23-Oct-16 12:11:17 AM ******/
CREATE DATABASE [Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project]
GO
USE [Project]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 23-Oct-16 12:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[TouroperatorId] [int] NOT NULL,
	[HasDiscount] [bit] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Destinations]    Script Date: 23-Oct-16 12:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destinations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Destinations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DestinationsTrips]    Script Date: 23-Oct-16 12:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DestinationsTrips](
	[DestinationId] [int] NOT NULL,
	[TripId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Touroperators]    Script Date: 23-Oct-16 12:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Touroperators](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Touroperators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Trips]    Script Date: 23-Oct-16 12:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trips](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Price] [money] NOT NULL,
	[DepartureDate] [smalldatetime] NOT NULL,
	[TouroperatorId] [int] NOT NULL,
	[ArrivalDate] [smalldatetime] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Discount] [float] NULL,
 CONSTRAINT [PK_Trips] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TripsCustomers]    Script Date: 23-Oct-16 12:11:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripsCustomers](
	[CustomerID] [int] NOT NULL,
	[TripID] [int] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Touroperators] FOREIGN KEY([TouroperatorId])
REFERENCES [dbo].[Touroperators] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Touroperators]
GO
ALTER TABLE [dbo].[DestinationsTrips]  WITH CHECK ADD  CONSTRAINT [FK_DestinationsTours_Destinations] FOREIGN KEY([DestinationId])
REFERENCES [dbo].[Destinations] ([Id])
GO
ALTER TABLE [dbo].[DestinationsTrips] CHECK CONSTRAINT [FK_DestinationsTours_Destinations]
GO
ALTER TABLE [dbo].[DestinationsTrips]  WITH CHECK ADD  CONSTRAINT [FK_DestinationsTours_Trips] FOREIGN KEY([TripId])
REFERENCES [dbo].[Trips] ([Id])
GO
ALTER TABLE [dbo].[DestinationsTrips] CHECK CONSTRAINT [FK_DestinationsTours_Trips]
GO
ALTER TABLE [dbo].[Trips]  WITH CHECK ADD  CONSTRAINT [FK_Trips_Touroperators] FOREIGN KEY([TouroperatorId])
REFERENCES [dbo].[Touroperators] ([Id])
GO
ALTER TABLE [dbo].[Trips] CHECK CONSTRAINT [FK_Trips_Touroperators]
GO
ALTER TABLE [dbo].[TripsCustomers]  WITH CHECK ADD  CONSTRAINT [FK_TripsCustomers_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[TripsCustomers] CHECK CONSTRAINT [FK_TripsCustomers_Customers]
GO
ALTER TABLE [dbo].[TripsCustomers]  WITH CHECK ADD  CONSTRAINT [FK_TripsCustomers_Trips] FOREIGN KEY([TripID])
REFERENCES [dbo].[Trips] ([Id])
GO
ALTER TABLE [dbo].[TripsCustomers] CHECK CONSTRAINT [FK_TripsCustomers_Trips]
GO
USE [master]
GO
